@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to left, rgb(216, 16, 16), rgb(236, 136, 20));
}

.playArea {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30%;
    margin-bottom: 30%;
    padding: 2%;
    border: 0.5vh;
    border-color: white;
    border-style: solid;
    text-align: center;
    color: black;
    font-family: 'Lexend Mega', sans-serif;
    font-size: large; 
}

#image {
    padding-left: 24%;
    padding-right: 24%;
}

#newGame {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 0;
    padding: 2%;
    background-color: yellow;
}

#button {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 0;
    padding: 2%;
    background-color: yellow;
}

#holdButton {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 0;
    padding: 2%;
    background-color: yellow;
}

#reset {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 0;
    padding: 2%;
    background-color: yellow;
}